.root {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  transition: opacity var(--duration-fast) var(--ease-out-expo);
}

.root:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .root {
    width: 44px;
    height: 44px;
  }

  .root img {
    width: 14px;
    height: 14px;
  }
}
